
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>登录页面</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Hotair Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="../moban5334/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="../moban5334/css/font-awesome.min.css" type="text/css" media="all">

</head>

<body>
<form action="/login" method="GET">
    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Hotair Log In Form</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="alert-close">
                       <a href="/" class="fa fa-close"></a>
                    </div>
                 
                    <div class="content-wthree">
                        <h2>Log In</h2>
                        <p>To Your Account</p>
                      
                            <input type="text" class="text"  placeholder="User Name" required="" id="username">
                            <input type="password"  name="password" placeholder="User Password" required="" id="password">
                            <button class="btn" type="submit" id="login">Log In</button>
                        </form>
                        <p style="margin: 10px;">Or Connect With Social Media</p>
                        <div class="social-icons w3layouts">
                            <ul>
                                <li>
                                    <a href="#url" class="facebook"><span class="fa fa-facebook"></span> </a>
                                </li>
                                <li>
                                    <a href="#url" class="twitter"><span class="fa fa-twitter"></span> </a>
                                </li>
                                <li>
                                    <a href="#url" class="pinterest"><span class="fa fa-pinterest"></span> </a>
                                </li>
                            </ul>
                        </div>
                        <p class="account" >Don't have an account? <a href="/register">Register</a></p>
                        <br>
                        <p><a href="/merchant">OR LOGIN WITH MERCHANT</a></p>
                    </div>
                    <div class="w3l_form align-self">
                
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <div class="copyright text-center">
            <p class="copy-footer-29">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->

    <script src="../moban5334/js/jquery.min.js"></script> 
<script>
    	$("#login").click(function(){
		$.ajax({
			type:"post",
			url :"/login",
			data:{"username":$("#username").val(),"password":$("#password").val()},
			success:function(data){
                console.log(status)
				if(data.status==1){
					alert("登录成功");
					window.location.href = "/"
				}else{
					alert("用户名或密码错误，登录失败，请重新登录")
				}
			}
		})
	});
    
</script>

</body>

</html>