
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
<head>
<title>商家登录注册</title>
<link href="../merchant/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<link href="../merchant/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="../merchant/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        $(function () {

		$('.hub-slider-slides ul').hubSlider({
			selector: $('li'),
			button: {
				next: $('.hub-slider-arrow_next'),
				prev: $('.hub-slider-arrow_prev')
			},
			transition: '0.7s',
			startOffset: 30,
			auto: true,
			time: 2 // secondly
		});

        })
    </script>
</head>
<body>
<div class="content" id="Main-Content">
	<h1>
        商家登录注册
    </h1>
	<div class="w3ls-slider">
		<div class="hub-slider">
			<div class="hub-slider-slides">
				<ul>
			
					<li>
						<!-- 注册部分 -->
						<div class="login-form agileits-right"> 
							<div class="agile-row">
								<h3>Sign Up</h3> 
								<div class="login-agileits-top"> 	
		
										<p>Merchant Name </p>
										<input type="text" id="name_one" name="name_one" />
										<p>Password</p>
										<input type="password" id="password_one" name="password_one" /> 
										<p>Confirm Password</p>
										<input type="password" id="password_two" name="password" /> 
										<p>Merchant id</p>
										<input type="text" id="mer_id-one" name="mer_id"/>
                                        <p>phonenumber</p>
										<input type="text" id="phonenumber" name="phonenumber"/>
										<label class="anim">
											<input type="checkbox" class="checkbox">
											<span> Remember me ?</span> 
										</label>   
										<P><button type="submit" id="enter"  style="width: 400PX;height: 40PX;background-color: red;">SIGN UP</button></P>
                                        <p style="margin-left: 140px"><a href="/merlogin" style="color: white;font-size: 20px;">Or Sign In Now</a></p>
								</div>  
							</div>  
						</div> 
					</li>
                    
          </ul>
          </div>          
	</div>
</div>
	<script type="text/javascript" src="../merchant/js/hubslider.js"></script>
  
   <script>

    //注册时点击事件
     $("#enter").click(function(){
		var name = $("#name_one").val();
		var pass1 = $("#password_one").val();
		var pass2 = $("#password_two").val();
		var merid = $("#mer_id-one").val();
		var phone = $("#phonenumber").val();
		if(name.length == 0 ){
			alert("输入内容不能为空")
		}else if(pass1.length ==0){
            alert("请输入您的密码")
		}else if(pass2.length ==0){
			alert("请确认密码")
		}else if(merid.length ==0){
			alert("请输入您的商家编号")
		}else if(phone.length ==0){
			alert("请输入您的电话号码")
		}else if(pass1 != pass2){
			alert("你的密码两次输入不一致")
		}else{
			$.ajax({
			type:"post",
			url :"/merchant",
			data:{"name":name,"password":pass1,"mer_id":merid,"phone":phone},
            success:function(data){
				if(data.status==1){
					alert("注册成功");
                    window.location.href="/merlogin"
				}
			}
        
		})
        
		}
		
	})
</script>
</div>
</body>
</html>
