
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
<head>
<title>商家登录注册</title>
<link href="../merchant/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<link href="../merchant/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="../merchant/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        $(function () {

		$('.hub-slider-slides ul').hubSlider({
			selector: $('li'),
			button: {
				next: $('.hub-slider-arrow_next'),
				prev: $('.hub-slider-arrow_prev')
			},
			transition: '0.7s',
			startOffset: 30,
			auto: true,
			time: 2 // secondly
		});

        })
    </script>
</head>
<body>
<div class="content" id="Main-Content">
	<h1>
        商家登录注册
    </h1>
	<div class="w3ls-slider">
		<div class="hub-slider">
			<div class="hub-slider-slides">
				<ul>
			
					<li>
						<!-- 注册部分 -->
						<div class="login-form agileits-right"> 
							<div class="agile-row">
								<h3>Sign Up</h3> 
								<div class="login-agileits-top"> 	
		
										<p>Merchant Name </p>
										<input type="text" id="name_one" name="name_one" />
										<label id="error1" style="color: red;font-size: 10px;display: inline;"></label>
										<p>Password</p>
										<input type="password" id="password_one" name="password_one" /> 
										<label id="error2" style="color: red;font-size: 10px;display: inline;"></label>
										<p>Confirm Password</p>
										<input type="password" id="password_two" name="password" /> 
										<label id="error3" style="color: red;font-size: 10px;display: inline;"></label>
										<p>Merchant id</p>
										<input type="text" id="mer_id-one" name="mer_id"/>
                                        <label id="error4" style="color: red;font-size: 10px;display: inline;"></label>
										<p>phonenumber</p>
										<input type="text" id="phonenumber" name="phonenumber"/>
										<label id="error5" style="color: red;font-size: 10px;display: inline;"></label>
										<label class="anim">
											<input type="checkbox" class="checkbox">
											<span> Remember me ?</span> 
										</label>   
										<P><button type="submit" id="enter"  style="width: 400PX;height: 40PX;background-color: red;">SIGN UP</button></P>
                                        <p style="margin-left: 140px"><a href="/merlogin" style="color: white;font-size: 20px;">Or Sign In Now</a></p>
								</div>  
							</div>  
						</div> 
					</li>
                    
          </ul>
          </div>          
	</div>
</div>
	<script type="text/javascript" src="../merchant/js/hubslider.js"></script>
  
   <script>

    //注册时点击事件
     $("document").ready(function(){
		$("#enter").click(function(){
        var name = $("#name_one").val();
		var pass = $("#password_one").val();
		var pass2 = $("#password_two").val();
		var mer_id = $("#mer_id-one").val();
		var phone = $("#phonenumber").val();
		var password1=/[a-zA-Z0-9]{6,12}/;
		var id = /^\d{4,10}$/;
		var uphone = /^1[3|4|5|8][0-9]\d{4,8}$/;
		//验证用户名格式是否正确
		if(name.length==0){
                  $("#error1").html("用户名不可以为空");
                 return false;
             }else if(name.length < 4 || name.length >10){
                 $("#error1").html("请输入长度为4-10之间的用户名");
                  return false;
             }else{
                  $("#error1").html("");
              }
			//验证密码格式是否正确
		if(pass.length==0){
                 $("#error2").html("密码不可以为空");
                 return false;
             }else if(!password1.test(pass)){
                    $("#error2").html("请输入6-12位以字母开头的字母和数字的组合密码");
                   return false;
                 }else{
					$("#error2").html("") 
				 }
        //验证前后密码是否一致
		if(pass2.length==0){
                 $("#error3").html("请确认您的密码");
                 return false;
             }else if(pass != pass2){
                    $("#error3").html("前后密码不一致，请重新输入");
                   return false;
                 }else{
					$("#error3").html("") 
				 }
		//验证商家id的格式是否合法
		if(mer_id.length==0){
                 $("#error4").html("商家id不可以为空");
                 return false;
             }else if(!id.test(mer_id)){
                    $("#error4").html("请输入6-12位数字组成的商家id");
                   return false;
                 }else{
					$("#error4").html("") 
				 }
		//验证手机号格式是否正确
        if(phone.length==0){
                 $("#error5").html("手机号码不可以为空");
                 return false;
             }else if(!uphone.test(phone)){
                    $("#error5").html("请输入正确的电话号码");
                   return false;
                 }else{
					$("#error5").html("") 
				 }
		$.ajax({
			type:"post",
			url :"/merchant",
			data:{"name":name,"password":pass,"mer_id":mer_id,"phone":phone},
            success:function(data){
				if(data.status==1){
					alert("注册成功");
                    window.location.href="/merlogin"
				}
			}
        
		})	
	})
	 })
</script>
</div>
</body>
</html>
