<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office-Shop</title>
    <style>
        .show-big{
            width: 400px;
            height: 400px;
            display: inline-block;
            margin-left: 60px;
        }
        .show{
            margin-left: 38px;
        }
    </style>
</head>
<body>
    <div>
        <div class="show-big">
            <div>
                <img style="height: 400px;width: 300px;" src="/images/1.jpg">
            </div>
            <div class="show">
                <p>Some Notes-books</p>
                <p>$5.00/EVERY</p>
                <p>It is very useful!buy it quickly</p>
            </div>
        </div>
        <div class="show-big">
            <div>
                <img style="height: 400px;width: 300px;" src="/images/2.jpg">
            </div>
            <div  class="show">
                <p>Office table</p>
                <p>$600.00/EVERY</p>
                <p>It is very useful!buy it quickly</p>
            </div>
        </div>
        <div class="show-big">
            <div>
                <img style="height: 400px;width: 300px;" src="/images/3.jpg">
            </div>
            <div  class="show">
                <p>Office-Coference</p>
                <p>$1000.00/EVERY</p>
                <p>It is very useful!buy it quickly</p>
            </div>
        </div>
        <div class="show-big">
            <div>
                <img style="height: 400px;width: 300px;" src="/images/4.jpg">
            </div>
            <div  class="show">
                <p>Some Notes-books</p>
                <p>$10.00/EVERY</p>
                <p>It is very useful!buy it quickly</p>
            </div>
        </div>
        <div class="show-big">
            <div>
                <img style="height: 400px;width: 300px;" src="/images/5.jpg">
            </div>
            <div  class="show">
                <p>Work-computer</p>
                <p>$5000.00/EVERY</p>
                <p>It is not expensive</p>
            </div>
        </div>
        <div class="show-big">
            <div>
                <img style="height: 400px;width: 300px;" src="/images/6.jpg">
            </div>
            <div  class="show">
                <p>A long officer sofa made in dermis</p>
                <p>$6000.00/EVERY</p>
                <p>It is very comfortabkle !Give it a try</p>
            </div>
        </div>
        <div class="show-big">
            <div>
                <img style="height: 400px;width: 300px;" src="/images/7.jpg">
            </div>
            <div  class="show">
                <p>a beaautful Table</p>
                <p>$800.00/EVERY</p>
                <p>Don't you think it is very beautful?</p>
            </div>
        </div>
        <div class="show-big">
            <div>
                <img style="height: 400px;width: 300px;" src="/images/8.jpg">
            </div>
            <div  class="show">
                <p>a useful book end</p>
                <p>$20.00/EVERY</p>
                <p>It is very useful!buy it quickly</p>
            </div>
        </div>
        <div class="show-big">
            <div>
                <img style="height: 400px;width: 300px;" src="/images/9.jpg">
            </div>
            <div  class="show">
                <p>Some folder you may need</p>
                <p>$5.00/EVERY</p>
                <p>It is very useful!buy it quickly</p>
            </div>
        </div>
        <div class="show-big">
            <div>
                <img style="height: 400px;width: 300px;" src="/images/10.jpg">
            </div>
            <div  class="show">
                <p>Work computer table</p>
                <p>$800.00/EVERY</p>
                <p>It is very useful!buy it quickly</p>
            </div>
        </div>
        <div class="show-big">
            <div>
                <img style="height: 400px;width: 300px;" src="/images/11.jpg">
            </div>
            <div  class="show">
                <p>A drawer your needs</p>
                <p>$799.00/EVERY</p>
                <p>It is very useful!buy it quickly</p>
            </div>
        </div>
    </div>
</body>
</html>