<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>注册页面</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Hotair Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="../moban5334/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="../moban5334/css/font-awesome.min.css" type="text/css" media="all">

</head>

<body>
		<div class="right-form-agile" style="    margin-top: 6px;margin-left: -19px;">
			<!-- <form action="/register" method="GET"> -->
				<!-- form section start -->
				<section class="w3l-hotair-form">
					<h1>Hotair Sign Up Form</h1>
					<div class="container">
						<!-- /form -->
						<div class="workinghny-form-grid">
							<div class="main-hotair">
								<div class="alert-close">
								   <a href="/" class="fa fa-close"></a>
								</div>
								<div class="content-wthree">
									<h2>Sign Up</h2>
									<p>Create  Your Account</p>
									<!-- <form action="/register" method="post"> -->
										<input type="text" class="text"  placeholder="User Name"  id="username">
										<input type="text" id="uemail" placeholder="User Email">
										<input type="password"  name="password" placeholder="User Password" id="password1">
										<input type="password" name="password2" id="password2"  placeholder="Confim Your Password">
										<button class="btn" type="submit" id="register">Sign Up</button>
									<!-- </form> -->
                                   <br>
								   <p style="margin: 15px;"><a href="/Login">Having a count? Login in</a></p>
									<p style="margin: 20px;"><a href="/merchant">OR LOGIN WITH MERCHANT</a></p>
								</div>
								<div class="w3l_form align-self">
							
								</div>
							</div>
							</div>
							</div>
							</section>
							<!-- </form> -->
		</div>
	</div>
	<!-- //content -->
	<!-- password-script -->
    <script src="../static/js/jquery-1.12.4.min.js"></script>
	<!-- //password-script -->
 <script>
     $("#register").click(function(){
		var name = $("#username").val();
		var email = $("#uemail").val();
		var pass1 = $("#password1").val();
		var pass2 = $("#password2").val();
		if(name.length == 0 ){
			alert("请先输入您的用户名");
		
		}else if(email.length == 0){
            alert("请先输入您的邮箱地址")
		}else if(pass1.length == 0){
			alert("请输入您的密码")
		}else if(pass2.length == 0){
			alert("请确认您的密码")
		}else if(pass2 != pass1){
            alert("两次密码不一致，请重新输入")
		}else{
            $.ajax({
			type:"post",
			url :"/register",
			data:{"username":$("#username").val(),"password":$("#password1").val()},
			success:function(data){
				if(data.status==1){
					alert("注册成功");
                    window.location = "/login"
				}
			}
		})
		}
		
	})
 </script>
</body>

</html>