<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>现在注册</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Full Screen Enroll Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	</script>
	<!-- Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="../regist/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="../regist/css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
</head>

<body>
		<div class="right-form-agile" style="margin-top: 20px;margin-left: 447px;">
			<!-- content -->
			<div class="sub-main-w3">
				<h3>Signup Now</h3>
				<h5>Creating an account is free..</h5>
				<p>and won't take longer than a couple os seconds</p>
			
					<div class="form-style-agile">
						<label>Your Name</label>
						<div class="pom-agile">
							<span class="fas fa-user"></span>
							<input placeholder="Your Name" name="Name" type="text" required="" id="username">
						</div>
					</div>
					<div class="form-style-agile">
						<label>Email</label>
						<div class="pom-agile">
							<span class="fas fa-envelope-open"></span>
							<input placeholder="Email" name="Email" type="email" required="" id="uemail">
						</div>
					</div>
					<div class="form-style-agile">
						<label>Password</label>
						<div class="pom-agile">
							<span class="fas fa-key"></span>
							<input placeholder="Password" name="Password" type="password" id="password1" required="">
						</div>
					</div>
					<div class="form-style-agile">
						<label>Confirm Password</label>
						<div class="pom-agile">
							<span class="fas fa-key"></span>
							<input placeholder="Confirm Password" name="Confirm Password" type="password" id="password2" required="">
						</div>
					</div>
					<div class="sub-agile">
						<input type="checkbox" id="brand1" value="">
						<label for="brand1">
							<span></span>I Accept to the Terms & Conditions</label>
					</div>
					<input type="submit" value="Submit" id="register">
				
				<!-- social icons -->
				<div class="w3ls-social">
					<a href="/login">or Login with</a>
					
				</div>
				<!-- //social icons -->
			</div>
		</div>
	</div>
	<!-- //content -->
	<!-- password-script -->
    <script src="../static/js/jquery-1.12.4.min.js"></script>
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}
	</script>
	<!-- //password-script -->
 <script>
     $("#register").click(function(){
		var name = $("#username").val();
		var email = $("#uemail").val();
		var pass1 = $("#password1").val();
		var pass2 = $("#password2").val();
		if(name.length == 0 || email.length == 0 || pass1.length == 0 || pass2.length == 0){
			alert("输入内容不能为空")
		}else if(pass1 != pass2){
            alert("前后密码不一致,请重新输入")
		}else{
            $.ajax({
			type:"post",
			url :"/register",
			data:{"username":$("#username").val(),"password":$("#password1").val()},
			success:function(data){
				if(data.status==1){
					alert("注册成功");
                    window.location = "/"
				}
			}
		})
		}
		
	})
 </script>
</body>

</html>