
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>家居商城</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" href="./images/icon/favicons.png" type="image/x-icon">

        <!-- All css here -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../static/css/slick.css">
        <link rel="stylesheet" href="../static/css/flaticon.css">
        <link rel="stylesheet" href="../static/css/jquery-ui.css">
        <link rel="stylesheet" href="../static/css/nice-select.css">
        <link rel="stylesheet" href="../static/css/animate.css">
        <link rel="stylesheet" href="../static/css/meanmenu.css">
        <link rel="stylesheet" href="../static/css/icomoon.css">
        <link rel="stylesheet" href="../static/css/default.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/responsive.css">
    </head>
    <body>
        <!--  ====== header-area-start=======================================  -->
        <header>
            <form action="/shop" method="GET">
            <div id="header-sticky" class="header-area white-bg">
                <div class="header position-absolute pl-35 pr-35">
                    <div class="container-fluid">
                        <div class="row align-items-center justify-content-lg-between">
                            <div class="col-xl-3  col-lg-7 col-md-7 col-sm-7 col-8">
                                <div class="logo float-right float-xl-left">
                                    <a href="/"><img src="../static/picture/logo.svg" alt="Agota"></a>
                                </div>
                                <div class="d-block d-xl-none">
                                    <a class="mobile-menubar" href="#"><span class="icon-menu"></span></a>
                                </div>
                            </div><!-- /col -->
                            <div class="col-xl-6 col-lg-1 col-md-1 col-sm-1 col-1 d-none d-lg-flex align-items-lg-center justify-content-lg-center position-../static">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                         <ul>
                                             <li><a href="/">Home</a></li>
											<li><a href="/shop">Shop</a></li>
											<li><a href="/product">Simple Product</a></li>
                                         </ul>
                                    </nav>
                                </div><!-- /main-menu -->
                            </div><!-- /col -->
                            <div class="col-xl-3  col-lg-4 col-md-5 col-sm-5 col-4">
                                <div class="header-right d-flex justify-content-end">
                                    <ul class="header-login d-none d-xl-block">
                                        <li><a href="/register" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Login / Register">Login / register</a></li>
                                    </ul>
                                    <ul class="header-search d-none d-xl-block">
                                       <li><a href="javascript:void(0);"><span class="icon-search"></span></a></li>
                                    </ul>
                                    <ul class="header-heart d-none d-xl-block">
                                        <li><a href="#" data-toggle="tooltip" data-selector="true" data-placement="bottom" title="View wishlist"><span class="icon-heart"></span><sup class="s-count">0</sup></a></li>
                                    </ul>
                                    <ul>
                                        <li><a class="header-shopping-cart" href="#"><span class="icon-shopping-bag"></span><sup class="s-count">0</sup></a></li>
                                    </ul>
                                </div><!-- /header-right -->
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div><!-- /container -->
                </div>
            </div><!-- /header-bottom -->
        </header>
        <!--  header-area-end  -->


        <!--  ====== header extra info start================================== -->
            <!-- side-mobile-menu start -->
            <div class="side-mobile-menu bg-white pt-30 pb-30 pl-30 pr-30">
                <div class="close-icon float-right pt-10">
                    <a href="javascript:void(0);"><span class="icon-clear"></span></a>
                </div>
                
                <div class="mobile-menu"></div>
                <div class="menu-login pt-50 pb-200">
                    <ul class="header-login d-flex justify-content-between border-bottom-gray">
                        <li><a href="/login">Login / register</a></li>
                        <li><a href="javascript:void(0)"><span class="icon-users"></span></a></li>
                    </ul>
                    <ul class="header-heart d-flex justify-content-between border-bottom-gray">
                        <li><a href="javascript:void(0)">Wishlist</a></li>
                           <li><a href="#"><span class="icon-heart"></span></a></li>
                    </ul>
                </div><!-- /header-right -->
            </div><!-- /side-mobile-menu -->
            <div class="body-overlay"></div>
            <!-- header search details start -->

            <!-- header-shopping-cart-details start -->
            <div class="header-shopping-cart-details white-bg pt-50 pb-40 pl-50 pr-40">
                <div class="close-icon float-right">
                    <a href="javascript:void(0);"><span class="icon-clear"></span></a>
                </div>
                <h5 class="mb-30">Your Cart</h5>
                <p>No products in the cart.</p>
            </div><!-- /header-shopping-cart-details -->
        <!-- header extra info end  -->
        <main>

            <!-- ======slider-area-start=========================================== -->
            <div class="slider-area over-hidden">
                <div class="single-page page-height3 d-flex align-items-center" data-background="../static/images/banner-shop-1.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12  d-flex align-items-center justify-content-center">
                                    <div class="page-title ">
                                        <h2 class="text-capitalize text-white mb-15">Shop</h2>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb justify-content-center bg-transparent">
                                            <li class="breadcrumb-item"><a class="secondary-color" href="/">home</a></li>
                                            <li class="breadcrumb-item active text-capitalize text-white" aria-current="page">Shop</li>
                                            </ol>
                                        </nav>
                                    </div><!-- /page title -->
                                </div><!-- /col -->
                            </div><!-- /row -->
                        </div><!-- /container -->
                    <!-- </div> -->
                </div><!-- /single-slider -->
            </div>
            <!-- slider-area-end=  -->

            <!-- ====== shop-header-area-start=============================================== -->
            <div class="shop-header-area pt-110">
                <div class="container-wrapper pl-15 pr-15 position-relative">
                    <div class="row position-static">
                        <div class="col-xl-4  col-lg-4  col-md-3   d-none d-md-block">
                            <div class="shop-title pb-50">
                                <h5 class="mb-0 mt-10">Showing all 12 results</h5>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-3  col-lg-3  col-md-4  col-sm-5 col-12">
                            <div class="view-mode d-flex align-items-center mt-2 pb-40 pb-sm-0">
                                <span>Views:</span>
                                <ul class="nav nav-tabs shop-product-tab border-bottom-0 pt-1" id="myTab" role="tablist">
                                    <li class="nav-item">
                                    <a class="nav-link py-0 pr-1" id="col2-tab" data-toggle="tab" href="" role="tab" aria-controls="col2" aria-selected="true">
                                        <img class="ser-icon" src="../static/picture/2.svg" alt="">
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link py-0 pr-1" id="col3tab" data-toggle="tab" href="#col3" role="tab" aria-controls="col3" aria-selected="false">
                                        <img class="ser-icon" src="../static/picture/3.svg" alt="">
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link show active py-0 pr-1" id="col4-tab" data-toggle="tab" href="#col4" role="tab" aria-controls="col4" aria-selected="false">
                                        <img class="ser-icon" src="../static/picture/4.svg" alt="">
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-0 pr-1" id="col5-tab" data-toggle="tab" href="#col5" role="tab" aria-controls="col5" aria-selected="false">
                                            <img class="ser-icon" src="../static/picture/5.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-0 pr-1" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
                                            <img class="ser-icon" src="../static/picture/list.svg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-5  col-lg-5  col-md-5  col-sm-7 col-12 d-sm-flex justify-content-sm-end position-../static">
                            <div class="product-selection pb-50 mt-2 mr-2">
                                <select class="border-0 py-0 pl-0" name="select" id="select" style="display: none;">
                                    <option value="">Sort by : Default sorting</option>
                                    <option value="">Sort by popularity</option>
                                    <option value="">Sort by average rating</option>
                                    <option value="">Sort by latest</option>
                                    <option value="">Sort by price: low to high</option>
                                    <option value="">Sort by price: high to low</option>
                                </select>
                            </div><!-- /product-selection -->
                            <div class="product-filter pb-50 text-sm-right">
                                <a href="javascript:void(0)" class="product-filter-btn position-relative d-inline-block dark-black-bg text-white py-2 px-4">Filter <span>+</span></a>
                            </div><!-- /product-filter -->
                            <div class="product-filter-details position-absolute bg-white over-hidden">
                                <div class="container-wrapper pl-15 pr-15">
                                    <div class="product-filter-details-wrapper pt-35 pb-15 pl-30 pr-30">
                                        <div class="row">
                                            <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                                                <div class="f-category">
                                                    <h4>Filter By Categories</h4>
                                                    <ul class="product-menubar mt-30 mb-15  over-scroll">
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href=""><span class="pl-15">Bedroom</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Decor</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Decoration</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Kitchen</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Lamp</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Lighting</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Living Room</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Outdoor</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Table</span></a>
                                                            </div>
                                                        </li>
                                                    </ul><!-- /f-category -->
                                                </div><!-- /product-menubar -->
                                            </div><!-- /col -->
                                            <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                                                <div class="f-choose-color">
                                                    <h4>Filter By Choose Color</h4>
                                                    <ul class="product-menubar mt-30 mb-15  over-scroll">
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio p-blue" name="example">
                                                                <a href="#"><span class="pl-15">Blue</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio p-d-blue" name="example">
                                                                <a href="#"><span class="pl-15">dark blue</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio p-l-black" name="example">
                                                                <a href="#"><span class="pl-15">Light black</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio p-gray" name="example">
                                                                <a href="#"><span class="pl-15">Gray</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio p-green" name="example">
                                                                <a href="#"><span class="pl-15">Green</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio p-orange" name="example">
                                                                <a href="#"><span class="pl-15">Orange</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio p-pink" name="example">
                                                                <a href="#"><span class="pl-15">Pink</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio p-yellow" name="example">
                                                                <a href="#"><span class="pl-15">yellow-brown</span></a>
                                                            </div>
                                                        </li>
                                                    </ul><!-- /f-category -->
                                                </div><!-- /product-menubar -->
                                            </div><!-- /col -->
                                            <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12">
                                                <div class="f-choose-color mr-4">
                                                    <h4>Filter By Brand</h4>
                                                    <ul class="product-menubar mt-30 mb-15 over-scroll">
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Clements Ribeiro</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Dominique Aurientis</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Georgine</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Chrome Hearts</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Jean-Paul Gaultier</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">John Galliano</span></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <input type="checkbox" class="option-input radio" name="example">
                                                                <a href="#"><span class="pl-15">Matthew Christopher</span></a>
                                                            </div>
                                                        </li>
                                                    </ul><!-- /f-category -->
                                                </div><!-- /product-menubar -->
                                            </div><!-- /col -->
                                            <div class="col-xl-3  col-lg-3  col-md-6  col-sm-6 col-12 pl-xl-0">
                                                <div class="product-menubar">
                                                    <h4>Filter by price</h4>
                                                    <div class="f-price-filter mt-45 mb-15">
                                                        <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 15%; width: 45%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 15%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 60%;"></span></div>
                                                        <div class="fitler-input d-flex align-items-center justify-content-between mt-40">
                                                            <div class="pn"><label class="">Price:</label>
                                                                <input type="text" id="amount" class="border-0 "></div>
                                                            <a href="#" class="border py-2 px-5">Filter</a>
                                                        </div>   
                                                    </div>
                                                </div><!-- /product-menubar -->
                                            </div><!-- /col -->
                                        </div><!-- /row -->
                                    </div>
                                </div><!-- /container -->
                            </div><!-- /product-filter-details -->
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
            <!-- shop-header-area-end -->

            <!-- ====== all-product-area-start ============================================ -->
            <div class="all-product-area pb-45">
                <div class="container-wrapper pl-15 pr-15">
                    <div class="row">
                        <div class="col-xl-12  col-lg-  col-md-  col-sm- col-">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="col2" role="tabpanel" aria-labelledby="col2">
                                    <!-- ====== column-2-area-start================================ -->
                                    <div id="col-2" class="Bestsellers Products-area">
                                        <div class="container-wrapper pl-15 pr-15">
                                            <div class="row">
                                                <div class="col-xl-6  col-lg-6  col-md-4  col-sm-6 col-12 mb-40">
                                                    <div class="single-product bg-white position-relative pb-30">
                                                        <div class="single-product-img position-relative">
                                                            <a href="/product"><img class="height100" src="../static/picture/home-product1.jpg" alt=""></a>
                                                            <div class="single-product-hover-img position-absolute">
                                                                <a href="/product"><img class="height100" src="../static/picture/home-product-hover-1.jpg" alt=""></a>
                                                            </div><!-- /single-product-hover-img -->
                                                            <ul class="single-product-button d-flex position-absolute">
                                                                <li data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Add to cart"><a href="#"><span class="icon-shopping-bag"></span></a></li>
                                                                <li data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Form Armchair Walnut Base">
                                                                    <a href="#" data-toggle="modal" data-target="#product-modal"><span class="icon-eye"></span></a>
                                                                </li>
                                                                <li data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Browse wishlist"><a href="#"><span class="icon-heart"></span></a>
                                                                </li>
                                                            </ul>
                                                            <div class="countdown-time d-flex border-gray position-absolute">
                                                                <div class="timer">
                                                                    <div class="d-flex" data-countdown="2021/12/01"></div>
                                                                </div>
                                                            </div><!-- /countdown-time -->
                                                        </div><!-- /single-product-img -->
                                                        <h5 class="product-name pt-20 pl-20"><a href="/product">Form Armchair Walnut Base</a></h5>
                                                        <div class="product-price pl-20">
                                                            <span class="black-color"><ins>$799.00</ins></span>
                                                            <span class="old-price"><del>$829.00</del></span>
                                                        </div>
                                                            <a href="#" class="sale-tag position-absolute text-white text-uppercase d-inline-block">sale</a>
                                                    </div><!-- /single-product -->
                                                </div><!-- /col -->
                               <!-- 循环开始 -->
                                                <% for(var o of data){ %>
                                                    <div class="col-xl-6  col-lg-6  col-md-4  col-sm-6 col-12 mb-40">
                                                        <div class="single-product bg-white position-relative pb-30" style="width: 350px;height: 400px;display: inline-block;">
                                                            <div class="single-product-img position-relative">
                                                                <a href="/product"><img class="height100" src="<%=o.images %>" alt=""></a>
                                                                <div class="single-product-hover-img position-absolute">
                                                                    <a href="/product"><img class="height100" src="<%=o.images %>" alt=""></a>
                                                                    <ul class="single-product-button d-flex position-absolute">
                                                                        <li data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Add to option"><a href="#"><span class="icon-shopping-bag"></span></a></li>
                                                                        <li data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Utopia Towels Kitchen"><a href="#" data-toggle="modal" data-target="#product-modal"><span class="icon-eye"></span></a></li>
                                                                        <li data-toggle="tooltip" data-selector="true" data-placement="bottom" title="Add to wishlist"><a href="#"><span class="icon-heart"></span></a></li>
                                                                    </ul>
                                                                </div><!-- /single-product-hover-img -->
                                                            </div><!-- /single-product-img -->
                                                            <h5 class="product-name pt-20 pl-20"><a href="/product"><%=o.com_name %></o></a></h5>
                                                            <div class="product-price pl-20 d-inline-block">
                                                                <span class="black-color"><%=o.price %></span>
                                                            </div>
                                                            <div class="product-dot d-inline-block float-right pr-20">
                                                                <span class="darkblue-bg"></span>
                                                                <span class="lower-blue-bg"></span>
                                                                <span class="pink-bg"></span>
                                                            </div><!-- /product-dot -->
                                                        </div><!-- /single-product -->
                                                    </div><!-- /col -->
                                               <% } %>
         <!-- 循环结束 -->
                                <div class="col-xl-6  col-lg-6  col-md-6  col-sm-12 col-12">
                                    <div class="product-modal-left pt-20">
                                        <h4><a href="/product">Form Armchair Walnut Base</a></h4>
                                        <div class="price pb-15"><span>$396.00</span> <span class="modal-old-price"> <del>$400 </del> </span> </div>
                                        <div class="available">
                                            <p> Availability: <span class="blue-color">In Stock</span></p>
                                        </div>
                                        <div class="sku pb-10"><p>Sku: <span class="blue-color">	0028KE21</span> </p></div>
                                        <p>Typi non habent claritatem insitam, est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod legunt saepius.…</p>
                                        <div class="quick-add-to-cart d-lg-flex align-items-center pt-20">
                                            <div class="quantity mr-10 mb-20">Quantity :</div>
                                            <div class="quantity-field position-relative d-inline-block pr-10 mb-20">
                                                <input type="text" name="select1" value="0" class="quantity-input-arrow" id="quantity-input">
                                            </div>
                                            <a href="#" class="add-cart-btn">Add to cart</a>
                                        </div><!-- /quick-add-to-cart -->
                                        <div class="mega-product mb-20">
                                            <p class="mb-1"><span>Categories:</span>
                                                <a href="#">Bedroom,</a>
                                                <a href="#">Kitchen</a>
                                            </p>
                                            <p class="mb-1"><span>Tags:</span>
                                                <a href="#">Agota,</a>
                                                <a href="#">Furniture,</a>
                                                <a href="#">Living room,</a>
                                                <a href="#">Table</a>
                                            </p>
                                        </div><!-- /mega-product -->
                                        <div class="social-sharing-wrapper d-lg-flex align-items-center">
                                            <span class="share mr-20 d-inline-block mb-20">Share this product:</span>
                                            <ul class="social-sharing mb-20">
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul><!-- /social-sharing -->
                                        </div>
                                    </div><!-- /product-modal-left -->
                                </div><!-- /col -->
                            </div><!-- /row -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal end -->

        </main>
    </form>
        <!-- All js here -->
        <script src="../static/js/modernizr-3.5.0.min.js"></script>
        <script src="../static/js/jquery-1.12.4.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/jquery.inputarrow.js"></script>
        <script src="../static/js/jquery-ui.js"></script>
        <script src="../static/js/jquery.nice-select.min.js"></script>
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/isotope.pkgd.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/jquery.fancybox.min.js"></script>
        <script src="../static/js/countdown.min.js"></script>
        <script src="../static/js/jquery.meanmenu.min.js"></script>
        <script src="../static/js/main.js"></script>

    </body>
</html>
